.container {
  max-width: 1500px;
}

.game-panel {
  //padding: 5px;
}

.full-width {
  width: 100%;
}

.full-width textarea {
  width: 100%;
  height: 100%;
  background-color: #0000;
  min-height: 350px;
}

.hud {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-end;
}

.container input,
.container textarea {
  caret-color: red !important;
}

.mat-accordion {
  width: 100%;
}

mat-sidenav-container.mat-drawer-container {
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 1;

  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

mat-sidenav-container.mat-drawer-container,
mat-sidenav.mat-sidenav {
  top: 0px;
  padding-top: 64px;
}

mat-sidenav-container.mat-drawer-container.collapse-title {
  padding-top: 0px;
  opacity: 1;
}

#monaco-container {
  display: block;
  position: relative;
  width: 100%;
  height: 300px;
}

.logic-buttons {
  overflow-x: auto;
  background-color: #2b2b2b;
  border: 1px solid grey;
}

.myContentClass {
  background: red;
}

.logic-panel {
  margin: 0px;
}

.save-button {
  padding: 15px 15px 20px;

  button {
    height: 100%;
  }
}

.error-card {
  max-width: 400px;
  position: absolute;
  z-index: 2;
  right: 70px;
  bottom: 15px;
}

.editor-title {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin: 0 12px;

  opacity: 1;

  -webkit-transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  -ms-transition: opacity 0.1s ease-in-out;
  -o-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}

.interval {
  padding: 10px 0 0 25px;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #00000000;
  animation: spinner 0.8s linear infinite;
}

.logicDirty {
  background-color: #3f2323;
}

.container-debug {
  padding: 0px;
}

.container-debug-inner {
  height: 100%;
}

.container-debug-inner.collapse-content {
  height: 100%;
  padding: 65px 0 0 0;
  margin: -65px 0 0 0;
}

.active-game-panel {
  position: absolute;
  display: inline;
  z-index: 1;

  button {
    display: block;
    margin-bottom: 5px;
  }
}

.canvas-holder {
  position: relative;
  height: 100%;
  padding: 10px;
}

.canvas-holder-card {
  top: 0px;
  height: 100%;
  border-radius: 0%;
  display: inline-block;
  display: block;
}

.editor-toolbar.collapse-title {
  height: 0px;
  opacity: 0;

  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.button-right {
  position: absolute;
  right: 0px;
  margin: 0 28px 0 0px;
}

#main-container {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

#main-container > .container-fluid {
  flex-grow: 1;
}
